# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /project/{$PROJECT_NAME}

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

XSendFile on
#e.g. Add "XSendFilePath /path/to/webroot" to apache/http.conf

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [S=2]
RewriteRule ^static/(?!common/)(.*)$ static/common/$1 [L]
RewriteRule .* index.php/$0 [PT,L]
#RewriteRule .* index.php [L,E=PATH_INFO:$1]

